<template>
    <main>

        <router-view></router-view>
        <FlashMessage position="right top" style="z-index:1000000 "></FlashMessage>
        <vue-confirm-dialog></vue-confirm-dialog>
    </main>
</template>

<script>
    export default {

    }
</script>
