<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cars</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Car</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('create car')" @click="showNewCarModel">Create Car</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name EN</th>
                                    <th>Name AR</th>
                                    <th>Description EN</th>
                                    <th>Description AR</th>
                                    <th>Details EN</th>
                                    <th>Details AR</th>
                                    <th>Kilometer</th>
                                    <th>Age</th>
                                    <th>Price</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="cars.data" v-for="car in cars.data" >
                                    <td><img v-bind:src="`${$store.state.serverPath}/storage/${car.image}`" class="w-150px"></td>
                                    <td>{{car.name.en}}</td>
                                    <td>{{car.name.ar}}</td>
                                    <td>{{car.description.en}}</td>
                                    <td>{{car.description.ar}}</td>
                                    <td>
                                        {{car.brand.en}}
                                        {{car.model.en}}
                                        {{car.color.en}}
                                        {{car.type.en}}
                                    </td>
                                    <td>
                                        {{car.brand.ar}}
                                        {{car.model.ar}}
                                        {{car.color.ar}}
                                        {{car.type.ar}}
                                    </td>
                                    <td>{{car.kilometer}}</td>
                                    <td>{{car.age}}</td>
                                    <td>{{car.price}}</td>
                                    <td>
                                        <button v-on:click="editCar(car)"  v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('update car')" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteCar(car)"  v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('dalete car')" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="cars" @pagination-change-page="getCars"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newCarModel"  v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('create car')" hide-footer title="Create New Car">
                    <div class="form" v-on:submit.prevent="createCar" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                                * {{ errors }}</p>
                            <div class="form-group"  v-if="$store.state.role='Super Admin'">
                                <label for="store">Store</label>
                                <select id="store"  v-model="carData.store_id" class="form-control">
                                    <option v-for="store in stores" v-bind:value="store.id">
                                        {{ store.name.en }}
                                    </option>
                                </select>
                            </div>
                            <div v-else> <input type="hidden"></div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" v-model="carData.category_id" class="form-control">
                                    <option v-for="category in categories" v-bind:value="category.id">
                                        {{ category.name.en }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="carData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="carData.name_ar" id="name_ar">
                            </div>

                            <div class="form-group">
                                <label for="description_en">Description EN</label>
                                <input type="text" class="form-control" v-model="carData.description_en" id="description_en">
                            </div>
                            <div class="form-group">
                                <label for="description_ar">Description AR</label>
                                <input type="text" class="form-control" v-model="carData.description_ar" id="description_ar">
                            </div>

                            <div class="form-group">
                                <label for="brand_en">Brand EN</label>
                                <input type="text" class="form-control" v-model="carData.brand_en" id="brand_en">
                            </div>
                            <div class="form-group">
                                <label for="brand_ar">Brand AR</label>
                                <input type="text" class="form-control" v-model="carData.brand_ar" id="brand_ar">
                            </div>

                            <div class="form-group">
                                <label for="model_en">Model EN</label>
                                <input type="text" class="form-control" v-model="carData.model_en" id="model_en">
                            </div>
                            <div class="form-group">
                                <label for="model_ar">Model AR</label>
                                <input type="text" class="form-control" v-model="carData.model_ar" id="model_ar">
                            </div>

                            <div class="form-group">
                                <label for="color_en">Color EN</label>
                                <input type="text" class="form-control" v-model="carData.color_en" id="color_en">
                            </div>
                            <div class="form-group">
                                <label for="color_ar">Color AR</label>
                                <input type="text" class="form-control" v-model="carData.color_ar" id="color_ar">
                            </div>

                            <div class="form-group">
                                <label for="type_en">Type EN</label>
                                <input type="text" class="form-control" v-model="carData.type_en" id="type_en">
                            </div>
                            <div class="form-group">
                                <label for="type_ar">Type AR</label>
                                <input type="text" class="form-control" v-model="carData.type_ar" id="type_ar">
                            </div>

                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="text" class="form-control" v-model="carData.age" id="age">
                            </div>
                            <div class="form-group">
                                <label for="kilometer">Kilometer</label>
                                <input type="text" class="form-control" v-model="carData.kilometer" id="kilometer">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="text" class="form-control" v-model="carData.price" id="price">
                            </div>

                            <div class="form-group">
                                <label for="image">Choose an image</label>
                                <div v-if="carData.image">
                                    <img src="" ref="newCarImageDisplay" class="w-150px"/>
                                </div>
                                <input type="file" v-on:change="attachImage" ref="newCarImage" class="form-control" id="image">
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewCarModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editCarModel"  v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('update car')" hide-footer title="Create Edit Car">
                    <div class="form" v-on:submit.prevent="updateCar" style="margin: 10px">
                        <form>
                            <p v-show="editErrors" style="color: red">
                                * {{ editErrors }}</p>
                            <div class="form-group"  v-if="$store.state.role='Super Admin'">
                                <label for="edit_store">Store</label>
                                <select id="edit_store"  v-model="editCarDataStore" class="form-control">
                                    <option v-for="store in stores" v-bind:value="store.id">
                                        {{ store.name.en }}
                                    </option>
                                </select>
                            </div>
                            <div v-else>
                                <input type="hidden" value="">
                            </div>

                            <div class="form-group">
                                <label for="edit_category">Category</label>
                                <select id="edit_category" v-model="editCarDataCategory" class="form-control">
                                    <option v-for="category in categories" v-bind:value="category.id">
                                        {{ category.name.en }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editCarDataName.en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editCarDataName.ar" id="edit_name_ar">
                            </div>



                            <div class="form-group">
                                <label for="edit_description_en">Description EN</label>
                                <input type="text" class="form-control" v-model="editCarDataDesc.en" id="edit_description_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_description_ar">Description AR</label>
                                <input type="text" class="form-control" v-model="editCarDataDesc.ar" id="edit_description_ar">
                            </div>

                            <div class="form-group">
                                <label for="edit_brand_en">Brand EN</label>
                                <input type="text" class="form-control" v-model="editCarDataBrand.en" id="edit_brand_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_brand_ar">Brand AR</label>
                                <input type="text" class="form-control" v-model="editCarDataBrand.ar" id="edit_brand_ar">
                            </div>

                            <div class="form-group">
                                <label for="edit_model_en">Model EN</label>
                                <input type="text" class="form-control" v-model="editCarDataModel.en" id="edit_model_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_model_ar">Model AR</label>
                                <input type="text" class="form-control" v-model="editCarDataModel.ar" id="edit_model_ar">
                            </div>

                            <div class="form-group">
                                <label for="edit_color_en">Color EN</label>
                                <input type="text" class="form-control" v-model="editCarDataColor.en" id="edit_color_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_color_ar">Color AR</label>
                                <input type="text" class="form-control" v-model="editCarDataColor.ar" id="edit_color_ar">
                            </div>

                            <div class="form-group">
                                <label for="edit_type_en">Type EN</label>
                                <input type="text" class="form-control" v-model="editCarDataType.en" id="edit_type_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_type_ar">Type AR</label>
                                <input type="text" class="form-control" v-model="editCarDataType.ar" id="edit_type_ar">
                            </div>

                            <div class="form-group">
                                <label for="edit_age">Age</label>
                                <input type="text" class="form-control" v-model="editCarData.age" id="edit_age">
                            </div>
                            <div class="form-group">
                                <label for="edit_kilometer">Kilometer</label>
                                <input type="text" class="form-control" v-model="editCarData.kilometer" id="edit_kilometer">
                            </div>
                            <div class="form-group">
                                <label for="edit_price">Price</label>
                                <input type="text" class="form-control" v-model="editCarData.price" id="edit_price">
                            </div>

                            <div class="form-group">
                                <label for="edit_image">Image</label>
                                <div>
                                    <img v-bind:src="`${$store.state.serverPath}/storage/${editCarData.image}`" ref="editCarImageDisplay" class="w-150px">
                                </div>
                                <input type="file" v-on:change="editAttachImage" ref="editCarImage" class="form-control" id="edit_image">
                            </div>



                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditCarModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as carService from '../services/car_service';
    import * as storeService from '../services/store_service';
    import * as categoryService from '../services/category_service';

    export default {
        name: "Car",
        data() {
            return {
                cars: {},
                carData:[],
                stores:{},
                categories:{},
                editCarData:[],
                editCarDataName:[],
                editCarDataDesc:[],
                editCarDataBrand:[],
                editCarDataModel:[],
                editCarDataType:[],
                editCarDataColor:[],
                errors: null,
                editErrors: null,
                page: 1,
            }
        },
        created() {
            this.getCars();
            this.getStores();
            this.getCategories();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getCars();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            attachImage(){
                this.carData.image = this.$refs.newCarImage.files[0];
                let reader = new FileReader();
                reader.addEventListener('load',function () {
                    this.$refs.newCarImageDisplay.src = reader.result;
                }.bind(this),false);
                reader.readAsDataURL(this.carData.image);
            },
            editAttachImage(){
                this.editCarData.image = this.$refs.editCarImage.files[0];
                let reader = new FileReader();
                reader.addEventListener('load',function () {
                    this.$refs.editCarImageDisplay.src = reader.result;
                }.bind(this),false);
                reader.readAsDataURL(this.editCarData.image);
            },
            hideNewCarModel() {
                this.$refs.newCarModel.hide();
            },
            showNewCarModel() {
                this.$refs.newCarModel.show();
            },
            getCars: async function (page=1){
                let params = {page: page};
                try {
                    let response = await carService.getCar(params);
                    console.log('cars:');
                    console.log(response.data);
                    this.cars = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getCategories: async function (){
                try {
                    let response = await categoryService.getCategories();
                    console.log(response.data);
                    this.categories = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getStores: async function (){
                try {
                    let response = await storeService.getStores();
                   console.log(response.data);
                    this.stores = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createCar: async function () {
                if (!this.carData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.carData.name_ar) {
                    this.errors='Name AR required.';
                }
                else if (!this.carData.description_en) {
                    this.errors='Description EN required.';
                }
                else if (!this.carData.description_ar) {
                    this.errors='Description AR required.';
                }
                else if (!this.carData.brand_en) {
                    this.errors='Brand EN required.';
                }
                else if (!this.carData.brand_ar) {
                    this.errors='Brand AR required.';
                }
                else if (!this.carData.model_en) {
                    this.errors='Model EN required.';
                }
                else if (!this.carData.model_ar) {
                    this.errors='Model AR required.';
                }
                else if (!this.carData.type_en) {
                    this.errors='Type EN required.';
                }
                else if (!this.carData.type_ar) {
                    this.errors='Type AR required.';
                }
                else if (!this.carData.color_en) {
                    this.errors='Color EN required.';
                }
                else if (!this.carData.color_ar) {
                    this.errors='Color AR required.';
                }
                else if (!this.carData.age) {
                    this.errors='Age required.';
                }
                else if (!this.carData.kilometer) {
                    this.errors='Kilometer required.';
                }
                else if (!this.carData.price) {
                    this.errors='Price required.';
                }
                else if (!this.carData.image) {
                    this.errors='Image required.';
                }
                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name_en', this.carData.name_en);
                formData.append('name_ar', this.carData.name_ar);
                formData.append('description_en', this.carData.description_en);
                formData.append('description_ar', this.carData.description_ar);
                formData.append('brand_ar', this.carData.brand_ar);
                formData.append('brand_en', this.carData.brand_en);
                formData.append('model_en', this.carData.model_en);
                formData.append('model_ar', this.carData.model_ar);
                formData.append('type_en', this.carData.type_en);
                formData.append('type_ar', this.carData.type_ar);
                formData.append('color_en', this.carData.color_en);
                formData.append('color_ar', this.carData.color_ar);
                formData.append('kilometer', this.carData.kilometer);
                formData.append('price', this.carData.price);
                formData.append('age', this.carData.age);
                formData.append('image', this.carData.image);
                formData.append('store_id', this.carData.store_id);
                formData.append('category_id', this.carData.category_id);
                try {
                    const response = await carService.createCar(formData);
                    this.errors = {};
                    this.cars.data.unshift(response.data);
                    this.hideNewCarModel();
                    this.flashMessage.success({
                        title: 'Car Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditCarModel() {
                this.$refs.editCarModel.hide();
            },
            showEditCarModel() {
                this.$refs.editCarModel.show();
            },
            editCar(car) {
                this.editCarData=car;
                this.editCarDataStore=car.store_id;
                this.editCarDataCategory=car.category_id;
                this.editCarDataName=car.name;
                this.editCarDataDesc=car.description;
                this.editCarDataBrand=car.brand;
                this.editCarDataModel=car.model;
                this.editCarDataColor=car.color;
                this.editCarDataType=car.type;
                this.showEditCarModel();
            },
            updateCar: async function () {

                if (!this.editCarData.name.en) {
                    this.errors="Name EN required.";
                }
                else if (!this.editCarData.name.ar) {
                    this.errors='Name AR required.';
                }
                else if (!this.editCarData.description.en) {
                    this.errors='Description EN required.';
                }
                else if (!this.editCarData.description.ar) {
                    this.errors='Description AR required.';
                }
                else if (!this.editCarData.brand.en) {
                    this.errors='Brand EN required.';
                }
                else if (!this.editCarData.brand.ar) {
                    this.errors='Brand AR required.';
                }
                else if (!this.editCarData.model.en) {
                    this.errors='Model EN required.';
                }
                else if (!this.editCarData.model.ar) {
                    this.errors='Model AR required.';
                }
                else if (!this.editCarData.type.en) {
                    this.errors='Type EN required.';
                }
                else if (!this.editCarData.type.ar) {
                    this.errors='Type AR required.';
                }
                else if (!this.editCarData.age) {
                    this.errors='Age required.';
                }
                else if (!this.editCarData.kilometer) {
                    this.errors='Kilometer required.';
                }
                else if (!this.editCarData.price) {
                    this.errors='Price required.';
                }
               else {
                    this.errors=null;

                    let formData = new FormData();
                    if (this.editCarData.image){
                        formData.append('image', this.editCarData.image);
                    }

                    formData.append('name_en', this.editCarData.name.en);
                    formData.append('name_ar', this.editCarData.name.ar);
                    formData.append('description_en', this.editCarData.description.en);
                    formData.append('description_ar', this.editCarData.description.ar);
                    formData.append('brand_ar', this.editCarData.brand.ar);
                    formData.append('brand_en', this.editCarData.brand.en);
                    formData.append('model_en', this.editCarData.model.en);
                    formData.append('model_ar', this.editCarData.model.ar);
                    formData.append('type_en', this.editCarData.type.en);
                    formData.append('type_ar', this.editCarData.type.ar);
                    formData.append('color_en', this.editCarData.color.en);
                    formData.append('color_ar', this.editCarData.color.ar);
                    formData.append('kilometer', this.editCarData.kilometer);
                    formData.append('price', this.editCarData.price);
                    formData.append('age', this.editCarData.age);
                    formData.append('store_id', this.editCarData.store_id);
                    formData.append('category_id', this.editCarData.category_id);
                formData.append('_method','put');
                try {
                    const response = await carService.updateCar(this.editCarData.id,formData);
                    this.cars.data.map(car=>{
                        if(car.id === response.data.id){
                            for(let key in response.data){
                                car[key]=response.data[key];
                            }
                        }
                    });
                    this.hideEditCarModel();
                    this.flashMessage.success({
                        title: 'Car Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteCar: async function (car) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${car.name.en} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                carService.deleteCar(car.id);
                                this.cars.data = this.cars.data.filter(obj => {
                                    return obj.id !== car.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
