<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Categories</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Category</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('create category')"  style="background-color: #3158C9" @click="showNewCategoryModel">Create Category</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name EN </th>
                                    <th>Name AR </th>
                                    <th>Description EN </th>
                                    <th>Description AR </th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="categories.data" v-for="(category,index) in categories.data" :key="index">
<!--                                    <td>{{category.id}}</td>-->
                                    <td>{{category.name.en}}</td>
                                    <td>{{category.name.ar}}</td>
                                    <td>{{category.description.en}}</td>
                                    <td>{{category.description.ar}}</td>
                                    <td>
                                        <button v-on:click="editCategory(category)"  v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('update category')" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteCategory(category)"  v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('delete category')" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="categories" @pagination-change-page="getCategories"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newCategoryModel"  v-if=" $store.getters.permission.includes('all access') || $store.getters.permission.includes('create category')" hide-footer title="Create New Category">
                    <div class="form" v-on:submit.prevent="createCategory" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                            * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="categoryData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="categoryData.name_ar" id="name_ar">
                            </div>
                            <div class="form-group">
                                <label for="description_en">Description EN</label>
                                <textarea type="text" v-model="categoryData.desc_en" class="form-control" id="description_en" rows="3">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="description_ar">Description AR</label>
                                <textarea type="text" v-model="categoryData.desc_ar" class="form-control" id="description_ar"  rows="3"></textarea>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewCategoryModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editCategoryModel"   v-if="$store.state.permission.includes('all access') || $store.state.permission.includes('update category')" hide-footer title="Create Edit Category">
                    <div class="form" v-on:submit.prevent="updateCategory" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editCategoryDataName.en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editCategoryDataName.ar" id="edit_name_ar">
                            </div>
                            <div class="form-group">
                                <label for="description_en_edit">Description EN</label>
                                <textarea type="text" rows="3" v-model="editCategoryDataDescription.en" class="form-control" id="description_en_edit"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="description_ar_edit">Description AR</label>
                                <textarea type="text" rows="3" v-model="editCategoryDataDescription.ar" class="form-control" id="description_ar_edit"></textarea>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditCategoryModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as categoryService from '../services/category_service';

    export default {
        name: "Category",
        data() {
            return {
                categories: {},
                roles: [],
                categoryData: [],
                editCategoryData:{},
                editCategoryDataDescription:{},
                editCategoryDataName:{},
                errors: null,
                editError: null,
                page: 1,
            }
        },
        created() {
            this.getCategories();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getCategories();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewCategoryModel() {
                this.$refs.newCategoryModel.hide();
            },
            showNewCategoryModel() {
                this.$refs.newCategoryModel.show();
            },
            getCategories: async function (page=1){

                let params = {page: page};
                try {
                    let response = await categoryService.getCategory(params);
                    this.categories = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createCategory: async function () {

                if (!this.categoryData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.categoryData.name_ar) {
                    this.errors='Name AR required.';
                }
                else if (!this.categoryData.desc_en) {
                    this.errors="Description EN required.";
                }
                else if (!this.categoryData.desc_ar) {
                    this.errors='Description AR required.';
                }
                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name_en', this.categoryData.name_en);
                formData.append('name_ar', this.categoryData.name_ar);
                formData.append('desc_en', this.categoryData.desc_en);
                formData.append('desc_ar', this.categoryData.desc_ar);
                try {
                    const response = await categoryService.createCategory(formData);
                    this.errors = {};
                    this.categories.data.unshift(response.data);
                    this.hideNewCategoryModel();
                    this.flashMessage.success({
                        title: 'Category Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditCategoryModel() {
                this.$refs.editCategoryModel.hide();
            },
            showEditCategoryModel() {
                this.$refs.editCategoryModel.show();
            },
            editCategory(category) {
                console.log(category);
                this.editCategoryData={...category};
                this.editCategoryDataName=category.name;
                this.editCategoryDataDescription=category.description;
                this.showEditCategoryModel();
            },
            updateCategory: async function () {
                if (!this.editCategoryDataName.en) {
                    this.editError="Name EN required.";
                }
                else if (!this.editCategoryDataName.ar) {
                    this.editError='Name AR required.';
                }else if (!this.editCategoryDataDescription.en) {
                    this.editError="Description EN required.";
                }
                else if (!this.editCategoryDataDescription.ar) {
                    this.editError='Description AR required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name_en', this.editCategoryDataName.en);
                formData.append('name_ar', this.editCategoryDataName.ar);
                formData.append('desc_en', this.editCategoryDataDescription.en);
                formData.append('desc_ar', this.editCategoryDataDescription.ar);
                formData.append('_method','put');
                try {
                    const response = await categoryService.updateCategory(this.editCategoryData.id,formData);
                    this.categories.data.map(category=>{
                        if(category.id == response.data.id){
                            for(let key in response.data){
                                category[key]=response.data[key];
                            }
                        }
                    });
                    this.hideEditCategoryModel();
                    this.flashMessage.success({
                        title: 'Category Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteCategory: async function (category) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${category.name.en} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                categoryService.deleteCategory(category.id);
                                this.categories.data = this.categories.data.filter(obj => {
                                    return obj.id !== category.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
