<template>
    <div id="wrapper">

        <Sidebar></Sidebar>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <Header></Header>

                </nav>
                <!-- End of Topbar -->

                <router-view></router-view>

            </div>
            <!-- End of Main Content -->

            <Footer></Footer>
        </div>
        <!-- End of Content Wrapper -->

    </div>
</template>

<script>
    import Header from '../components/Header.vue'
    import Sidebar from '../components/Sidebar.vue'
    import Footer from '../components/Footer.vue'
    import * as auth from '../services/auth_service';

    export default {
        components:{
            Header,
            Sidebar,
            Footer
        },
        async beforeCreate() {
            // login: async function(){
            try {

                let params = {role: this.$store.state.role};
                const response = await auth.permission(params);
                console.log(response);
                console.log('-----------------');


            } catch (error) {
                switch (error.response.status) {
                    case 422:
                        this.flashMessage.error({
                            message: error.response.data.errors,
                            time: 5000
                        });
                        break;
                    case 401:
                        this.flashMessage.error({
                            message: error.response.data.message,
                            time: 5000
                        });
                        break;
                    case 500:
                        this.flashMessage.error({
                            message: error.response.data.message,
                            time: 5000
                        });
                        break;
                    default:
                        this.flashMessage.error({
                            message: error.response.data.message,
                            time: 5000
                        });
                }
            }
        }

    }
</script>


