<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Permissions</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Create Permission</h6>
                    <b-button id="show-btn" variant="primary" @click="showNewPermissionModel">Create Permission</b-button>
                </div>

                <b-modal ref="newPermissionModel" hide-footer title="create new role">
                    <div class="form" v-on:submit.prevent="createPermission" style="margin: 10px">
                        <form>
                            <div class="form-group">
                                <label for="permission_name">Permission Name</label>
                                <select id="permission_name" v-model="permissionData.permission" class="form-control">
                                    <option v-for="permission in permissions" v-bind:value="permission.id">
                                        {{ permission.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select id="role" v-model="permissionData.role" class="form-control">
                                    <option v-for="role in roles" v-bind:value="role.id">
                                        {{ role.name }}
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">save</button>
                        </form>
                    </div>
                </b-modal>


                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Permissions</th>
                                    <th>Roles</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="permissionRoles.data" v-for="(permission,index) in permissionRoles.data" :key="index">
                                    <td>{{index+1}}</td>
                                    <td>{{permission.permissions.name}}</td>
                                    <td>{{permission.roles.name}}</td>
                                    <td><button v-on:click="deletePermission(permission)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="mt-3 text-center">
                                <pagination :data="permissionRoles" @pagination-change-page="getPermissionsRole"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import * as permissionService from '../services/permission_service';
    import * as roleService from "../services/role_service";

    export default {
        name: "Permission",
        data() {
            return {
                permissionRoles: {},
                permissionData: [],
                permissions: [],
                roles: [],
                errors: {},
                page: 1,
            }
        },
        created() {
            this.getPermissions();
            this.getPermissionsRole(1);
            this.getRoles();
        },
        methods: {
            hideNewPermissionModel() {
                this.$refs.newPermissionModel.hide();
            },
            showNewPermissionModel() {
                this.$refs.newPermissionModel.show();
            },
            getRoles: async function () {
                try {
                    const response = await roleService.getRoles();
                    this.roles = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getPermissions: async function () {
                try {
                    const response = await permissionService.getPermissions();
                    console.log(response.data);
                    this.permissions = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getPermissionsRole: async function (page=1) {
                let params={pages:page};
                try {
                    console.log('permission');
                    const response = await permissionService.getPermissionsRole(params);
                    console.log(response.data);
                    this.permissionRoles = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createPermission: async function () {
                let formData = new FormData();
                formData.append('permission_id', this.permissionData.permission);
                formData.append('role_id', this.permissionData.role);
                try {
                    const response = await permissionService.createPermission(formData);
                    this.errors = {};
                    this.permissions.unshift(response.data);
                    this.hideNewPermissionModel();
                    this.flashMessage.success({
                        title: 'Permission Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            },
            deletePermission: async function (permission) {

                console.log('delete');
                this.$confirm({
                    title: 'Are you sure?',
                    message: `You want to delete ${permission.name} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                console.log(permission.roles[0].name);
                                let formData = new FormData();
                                formData.append('id', permission.id);
                                formData.append('role', permission.roles[0].name);
                                permissionService.deletePermissionWithRole(formData);
                                this.permissions = this.permissions.filter(obj => {
                                    return obj.id != permission.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
