<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Stores</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Store</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" v-if="$store.getters.permission.includes('all access') || $store.getters.permission.includes('create store')" style="background-color: #3158C9" @click="showNewStoreModel">Create Store</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name EN</th>
                                    <th>Name AR</th>
                                    <th>Location EN</th>
                                    <th>Location AR</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="stores.data" v-for="(store,index) in stores.data" :key="index">
<!--                                    <td>{{store.id}}</td>-->
                                    <td>{{store.name.en}}</td>
                                    <td>{{store.name.ar}}</td>
                                    <td>{{store.location.en}}</td>
                                    <td>{{store.location.ar}}</td>
                                    <td>{{store.phone}}</td>
                                    <td><span v-if="store.status==0">Deactive</span>
                                    <span v-else> Active</span>
                                    </td>
                                    <td>
                                        <button v-on:click="editStore(store)" v-if=" $store.getters.permission.includes('all access') || $store.getters.permission.includes('update stores')" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteStore(store)" v-if=" $store.getters.permission.includes('all access') || $store.getters.permission.includes('delete stores')"  class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="stores" @pagination-change-page="getStores"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newStoreModel"  v-if=" $store.getters.permission.includes('all access') || $store.getters.permission.includes('create stores')"  hide-footer title="Create New Store">
                    <div class="form" v-on:submit.prevent="createStore" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                            * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="storeData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="storeData.name_ar" id="name_ar">
                            </div>
                            <div class="form-group">
                                <label for="location_en">Location EN</label>
                                <textarea type="text" v-model="storeData.location_en" class="form-control" id="location_en" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="location_ar">Location AR</label>
                                <textarea type="text" v-model="storeData.location_ar" class="form-control" id="location_ar"  rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" v-model="storeData.phone" class="form-control" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" v-model="storeData.email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" v-model="storeData.password" class="form-control" id="password">
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewStoreModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editStoreModel"  v-if=" $store.getters.permission.includes('all access') || $store.getters.permission.includes('update stores')"  hide-footer title="Create Edit Store">
                    <div class="form" v-on:submit.prevent="updateStore" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" class="form-control" v-model="editStoreDataName.en" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editStoreDataName.ar" id="edit_name_ar">
                            </div>
                            <div class="form-group">
                                <label for="edit_location_en">Location EN</label>
                                <input type="text" v-model="editStoreDataLocation.en" class="form-control" id="edit_location_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_location_ar">Location AR</label>
                                <input type="text" v-model="editStoreDataLocation.ar" class="form-control" id="edit_location_ar">
                            </div>
                            <div class="form-group">
                                <label for="edit_phone">Phone</label>
                                <input type="text" class="form-control" v-model="editStoreData.phone" id="edit_phone">
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditStoreModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as storeService from '../services/store_service';

    export default {
        name: "Store",
        data() {
            return {
                stores: {},
                roles: [],
                storeData: [],
                search:null,
                editStoreData:{},
                editStoreDataName:{},
                editStoreDataLocation:{},
                errors: null,
                editError: null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        created() {
            this.getStores();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getStores();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewStoreModel() {
                this.$refs.newStoreModel.hide();
            },
            showNewStoreModel() {
                this.$refs.newStoreModel.show();
            },
            getStores: async function (page=1){
                let params = {page: page};
                try {
                    let response = await storeService.getStore(params);
                    console.log(response);
                    this.stores = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createStore: async function () {

                if (!this.storeData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.storeData.name_ar) {
                    this.errors='Name AR required.';
                }else if (!this.storeData.location_en) {
                    this.errors="Location EN required.";
                }
                else if (!this.storeData.location_ar) {
                    this.errors='Location AR required.';
                }
                else if (!this.storeData.location_ar) {
                    this.errors='Location AR required.';
                }
                else if (!this.storeData.phone) {
                    this.errors='Phone required.';
                }
                else if (!this.storeData.password) {
                    this.errors='Password required.';
                }
                else if (!this.storeData.email){
                    this.errors='Email required.';
                }

                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name_en', this.storeData.name_en);
                formData.append('name_ar', this.storeData.name_ar);
                formData.append('location_en', this.storeData.location_en);
                formData.append('location_ar', this.storeData.location_ar);
                formData.append('phone', this.storeData.phone);
                formData.append('password', this.storeData.password);
                formData.append('email', this.storeData.email);
                try {
                    const response = await storeService.createStore(formData);
                    this.errors = {};
                    this.stores.data.unshift(response.data);
                    this.hideNewStoreModel();
                    this.flashMessage.success({
                        title: 'Store Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditStoreModel() {
                this.$refs.editStoreModel.hide();
            },
            showEditStoreModel() {
                this.$refs.editStoreModel.show();
            },
            editStore(store) {
                this.editStoreData={...store};
                this.editStoreDataName=store.name;
                this.editStoreDataLocation=store.location;
                this.showEditStoreModel();
            },
            updateStore: async function () {
                if (!this.editStoreDataName.en) {
                    this.editError="Name EN required.";
                }
                else if (!this.editStoreDataName.ar) {
                    this.editError='Name AR required.';
                }else if (!this.editStoreDataLocation.en) {
                    this.editError="Location EN required.";
                }
                else if (!this.editStoreDataLocation.ar) {
                    this.editError='Location AR required.';
                }

                else if (!this.editStoreData.phone) {
                    this.editError='Phone required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name_en', this.editStoreDataName.en);
                formData.append('name_ar', this.editStoreDataName.ar);
                formData.append('location_en', this.editStoreDataLocation.en);
                formData.append('location_ar', this.editStoreDataLocation.ar);
                    formData.append('phone', this.editStoreData.phone);
                formData.append('_method','put');
                try {
                    const response = await storeService.updateStore(this.editStoreData.id,formData);
                    this.stores.data.map(store=>{
                        if(store.id == response.data.id){
                            for(let key in response.data){
                                store[key]=response.data[key];
                            }
                        }
                    });
                    this.hideEditStoreModel();
                    this.flashMessage.success({
                        title: 'Store Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteStore: async function (store) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${store.name.en} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                storeService.deleteStore(store.id);
                                this.stores.data = this.stores.data.filter(obj => {
                                    return obj.id !== store.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
