<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" :class="{ toggled: toggle }" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <router-link to="/home" class="nav-link" exact>
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </router-link>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" v-if="$store.getters.permission.includes('all access')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Management</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Management:</h6>
                    <router-link to="/user" class="collapse-item" href="">Users</router-link>
                    <router-link to="/roles" class="collapse-item" exact>Roles </router-link>
                    <router-link to="/permissions" class="collapse-item" href="">Permission</router-link>
                </div>
            </div>
        </li>



        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item" v-if="$store.getters.permission.includes('all access') || $store.getters.permission.includes('read store')">
            <router-link to="/stores" class="nav-link">
                <i class="fas fa-fw fa-table"></i>
                <span>Store</span>
            </router-link>
        </li>
        <li class="nav-item" v-if="$store.getters.permission.includes('all access') || $store.getters.permission.includes('read category')" >
            <router-link to="/categories" class="nav-link" >
                <i class="fas fa-fw fa-table"></i>
                <span>Categories</span>
            </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/cars" class="nav-link" v-if="$store.getters.permission.includes('read car') || $store.getters.permission.includes('all access')" >
                <i class="fas fa-fw fa-table"></i>
                <span>Cars</span>
            </router-link>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle" @click="sidebarToggle"></button>
        </div>

    </ul>
</template>
<script>
    export default {
        name: "Sidebar",
        data() {
            return {
                toggle: false
            }
        },
        methods:{
            sidebarToggle() {

                if(this.toggle){
                    document.body.classList.add('sidebar-toggled');
                    this.toggle=false;
                }
                else{
                    document.body.classList.remove('sidebar-toggled');
                    this.toggle=true;
                }
            }
        }
    }
</script>
